@import "_mixins.scss";

.contacts{
    &_title{
        @include title;
        margin-top: 150px;
    }
    position: relative;
    margin-top: -30px;
    &__info{
        padding: 100px 25px;
        position: absolute;
        width: 500px;
        height: 450px;
        bottom: 0;
        left: 0;
        background-color: rgba(5,8,13,.85);
        &_title{
            color: var(--gold);
            font-weight: 300;
            font-size: 20px;
            margin-top: 40px;
        }     
    }
    &__adres, &__phone, &__schedule, &__email{
        color: var(--white);
        width:100%;
        font-weight: 200;
        font-size: 20px;
        text-decoration: none;
        line-height: 1.5;
    }    
    &__item{
        margin-top: 25px;
    } 
}
   
a.contacts__phone span {
    font-family: 'Montserrat', sans-serif;
}
a.contacts__schedule span span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
a.contacts__adres span span {
    font-family: 'Montserrat', sans-serif;
}