@import "_mixins.scss";

.menu_icon{
    display: none;
}

.header{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo{
        color: var(--white);
        font-weight: 400;
        font-size: 30px;
        span{
            color: var(--gold);
        }
        &__title {
            font-weight: 200;
            font-size: 15px;
            margin: 0px ;
        }  
    }
    &_contacts{
        transition: 0.5s all;
        position: relative;
        fill: var(--white);
        color: var(--white);
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        &__phone {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 25px;
        }
        &__img {
            width: 45px;
            height: 30px;
            padding-right: 15px;
        }
        &:hover {
            fill: var(--gold);
            color: var(--gold);
        }  
        &__list {
            position: absolute;
            top: 30px;
            left: 5px;
            list-style-type: none;
            display: none;
            :first-child{
                margin-top: 10px;
            }      
        }
        &:hover .header_contacts__list {
            display: block;
        }
        &__item {
            padding-bottom: 15px;
            a{
                font-weight: 600;
                font-size: 20px;
                color: var(--white);
                text-decoration: none;
            }      
        }    
        &__num {
            display: flex;
            align-items: center;
        } 
        &__desc{
            padding-left: 20px;
            font-weight: 200;
            font-size: 15px;
        }     
    } 
}

.main_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px
}

.navigation{
    padding-left: 0;
    list-style-type: none;
    top: 300px;
    z-index: 2;
    &__phone{
        display: none;
    }     
    &__item{
        margin-bottom: 40px;
        font-weight: 300;
        font-size: 28px;
    }       
    &__link {
        color: var(--white);
        text-decoration: none;
        padding-bottom: 5px;
        border-bottom: none;
        transition: 0.5s all;
        &:hover{
            border-bottom: 2px solid var(--gold);
        }      
    }  
}
    
.social{
    &__item {
        margin: 20px 0;
    }
    &__svg {
        fill: var(--white);
        width: 40px;
        height: 40px;
        transition: 0.5s all;
        &:hover{
            fill: var(--gold);
        }
    }
    
}
.contact {
    margin-top: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_adres {
        color: var(--white);
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        bottom: 0;
        left: 0;
        span {
            padding-bottom: 10px;
            font-weight: 600;
            font-size: 20px;
        }    
    }
}
    
.main_bottom {
    position: absolute;
    width: 100%;
    height: 150px;
    padding-top: 220px;
    bottom: 0;
    background: linear-gradient(180deg, rgba(114, 136, 172, 0) 0%, rgba(6, 9, 14, 0.81) 45.96%, #06090E 71.08%, #06090E 100%);
}
  
.button {
    padding: 0 20px;
    margin: 0 auto;
    place-items: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-45%);
}

.bottom_row{
    width: 70px; 
    height: 24px;
    fill: var(--white);
}
.link {
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
    position: relative;

    span {
        padding: 5px;
    }
    
    span, i, svg {
      position: relative;
    }
    
    i {
      margin-left: 0.5em;
    }
    
    .circle{
      width: 7em;
      height: 0.1em;
      border-radius: 2em;
      background-color: var(--gold);
      position: absolute;
      top: 110%;
      transform: translatey(-50%);
      left: 0.15em;
    }
  }