@media (max-width: 500px)
    .main_container
        background-color: rgba(0, 0, 0, 0.6)
    .main
        max-width: 100%
    .container
        width: 100% 
    .header
        flex-direction: column
        align-items: flex-start
        &_logo
            padding-bottom: 20px
        &_contacts
            display: none
    .navigation
        position: relative
        top: 80px
        &__phone
            padding-top: 25px
            display: block
            font-size: 25px
        &__link_phone
            color: $gold
    .contact
        margin: 0
        min-height: 45vh
    .studia
        &__content
            display: flex
            flex-direction: column
            &_img
                width: 100%
    .master
        &__content
            display: flex
            flex-direction: column