@media (max-width: 500px)
    .main_container
        background-color: rgba(0, 0, 0, .6)
        height: 100vh
    .main
        max-width: 100%
    .container
        width: 100% 
    .header
        flex-direction: column
        align-items: flex-start
        &_logo
            padding-bottom: 20px
        &_contacts
            display: none
    .navigation
        position: relative
        top: 80px
        &__phone
            padding-top: 25px
            display: block
            font-size: 25px
        &__link_phone
            color: $gold
    .contact
        margin: 0
        min-height: 45vh
        &_adres
            bottom: 145px
    .studia
        &__content
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            &_img
                width: 100%
                transform: translateX(0px)
            &_about
                font-weight: 300
                font-size: 20px
                background: rgba(255, 255, 255, 0.3)
                border-radius: 10px
                padding: 10px
    .master
        &__content
            display: flex
            flex-direction: column-reverse
            &_img
                width: 100%
                transform: translateX(0px)
                z-index: 3

            &_about
                font-weight: 300
                font-size: 20px
                background: rgba(255, 255, 255, 0.3)
                border-radius: 10px
                padding: 10px
            &_links
                margin: 20px 0px
    .decor
        height: 100px
        background-image: url(../img/decor_img.png)
        z-index: 1
        border-top: 2px solid $gold
        border-bottom: 2px solid $gold
        transform: translateY(-10px)

    .portfolio__content_info
        display: none
    .portfolio
        margin-top: 0px
        &__content
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-template-rows: repeat(3, 1fr)
            gap: 0px 0px

    .feedback
        &__group
        &__item
            &_content
                flex-direction: column
                & span
                    margin: 0 auto
    .slick-prev, .slick-next
        opacity: 0
        

    .contacts
        position: relative
        &__info
            padding: 0 10px
            margin: 0 auto
            position: absolute
            max-width: 100%
            height: 450px
            bottom: 0
            left: 0
            background-color: rgba(5,8,13,.85)
            &_title
                color: $gold
                font-weight: 300
                font-size: 20px
                margin-top: 40px
        &__adres
            color: $txt_col
            width:100%
            font-weight: 200
            font-size: 20px
            text-decoration: none
            line-height: 1.5
        &__item
            max-width: 100%