@import "_mixins.scss";

.portfolio_title{
  @include title;
  margin-top: 200px;
}
.content .info {
    margin: 0 auto;
    min-height: 580px;
    position: relative;
    
}
.content .info-header {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
.content .info-header-tab {
  color: var(--white);
  font-weight: 300;
  font-size: 30px;
  cursor: pointer;
  &:hover{
        border-bottom: 2px solid var(--gold) ;
    }}
  .content .info-header-tab:after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    margin-top: 4px;
  }
  .content .info-header-tab:hover:after {
    width: 60%;
  }
  .content .info-tabcontent {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 50px;
  }
  .content .info-tabcontent .description,
  .content .info-tabcontent .photo {
    width: 50%;
  }
  .content .info-tabcontent .description-title {
    font-size: 34px;
    font-weight: 300;
    color: var(--white);
  }
  .content .info-tabcontent .description-title:after {
    content: '';
    display: block;
    width: 20%;
    height: 3px;
    background-color: var(--gold);
    margin-top: 4px;
  }
  .content .info-tabcontent .description-text {
    margin-top: 30px;
    color: #fff;
    font-weight: 300;
    padding-right: 20px;
    padding-bottom: 100px;
  }

  .content .info-tabcontent .photogallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .info-tabcontent .photogallery .hotogallery {
    max-width: 350px;
    z-index: 3;
  }
  .content .info .hide {
    display: none;
  }
  .content .info .show {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .decor {
    position: relative;
    height: 200px;
    z-index: 2;
    border-top: 2px solid var(--gold);
    border-bottom: 2px solid var(--gold);
    transform: translateY(-80px);
    & img{
        width: 100%;
        height: 100%;
    }
  }
  
.photogallery{
  z-index: 3;
  top: 50%;
  right: 0;
  transform: translate(0, -35%);
  position: absolute;
}
.img-container img{
  height: 510px;
  margin: 10px;

}
.photogallery-small-img img{
  height: 120px;
  margin: 10px 0;
  cursor: pointer;
  display: block;
  opacity: .6;
  &:hover{
    opacity: 1;
  }
}
.small_img{
  background-color: #06090E;
}

.description{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}