@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&display=swap");
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #05080D;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 10px;
  max-width: 1300px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 45px;
}

.main {
  background-image: url("../img/main_bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.navigation {
  padding-left: 0;
  list-style-type: none;
  position: absolute;
  top: 300px;
  z-index: 2;
}
.navigation__phone {
  display: none;
}
.navigation__item {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
}
.navigation__link {
  color: #FFFFFF;
  text-decoration: none;
  padding-bottom: 5px;
}
.navigation__link:hover {
  border-bottom: 2px solid #FFC225;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 30px;
  text-decoration: none;
}
.header_logo span {
  color: #FFC225;
}
.header_logo__title {
  font-weight: 200;
  font-size: 15px;
  margin: 0px;
}
.header_contacts {
  transition: 0.5s all;
  position: relative;
  fill: #FFFFFF;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.header_contacts__phone {
  font-weight: 300;
  font-size: 25px;
}
.header_contacts__img {
  width: 45px;
  height: 30px;
  padding-right: 15px;
}
.header_contacts:hover {
  fill: #FFC225;
  color: #FFC225;
}
.header_contacts__list {
  position: absolute;
  top: 30px;
  left: 5px;
  list-style-type: none;
  display: none;
}
.header_contacts__list :first-child {
  margin-top: 10px;
}
.header_contacts:hover .header_contacts__list {
  display: block;
}
.header_contacts__item {
  padding-bottom: 15px;
}
.header_contacts__item a {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
.header_contacts__num {
  display: flex;
  align-items: center;
}
.header_contacts__desc {
  padding-left: 20px;
  font-weight: 200;
  font-size: 15px;
}

.contact {
  margin-top: 200px;
  min-height: 55vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s all;
  position: relative;
}
.contact_adres {
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  right: 0;
}
.contact_adres span {
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
}

.persona {
  color: #FFC225;
}

.studia__content {
  display: flex;
  align-items: center;
}
.studia__content_img {
  width: 557px;
  transform: translateX(10px);
}
.studia__content_about {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 30px;
}
.studia__content_about span {
  padding-top: 1vh;
}
.studia__content_about a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 2px solid #FFC225;
}

.master__content {
  display: flex;
  align-items: center;
}
.master__content_img {
  height: 550px;
  transform: translateX(-10px);
  z-index: 3;
}
.master__content_about {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 30px;
}
.master__content_about span {
  padding-top: 1vh;
}
.master__content_links {
  margin-top: 40px;
}
.master__content_links a {
  text-decoration: none;
  margin: 0 5px;
}
.master__content_links a svg {
  width: 40px;
  height: 40px;
  fill: #FFFFFF;
}
.master__content_links a svg:hover {
  fill: #FFC225;
}

.decor {
  height: 200px;
  background-image: url(../img/decor_img.png);
  z-index: 1;
  border-top: 2px solid #FFC225;
  border-bottom: 2px solid #FFC225;
  transform: translateY(-80px);
}

.portfolio {
  margin-top: -60px;
}
.portfolio__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
}
.portfolio__content_img {
  position: relative;
}
.portfolio__content_info {
  position: absolute;
  background-color: rgba(5, 8, 13, 0.75);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s all;
}
.portfolio__content_info:hover {
  opacity: 1;
}
.portfolio__content_info_txt {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin-top: 50%;
  transform: translateY(-50%);
}
.portfolio__content_info_txt span {
  color: #FFC225;
  line-height: 80px;
}

.image {
  width: 100%;
  height: 100%;
}

.feedback {
  color: #FFFFFF;
}
.feedback__group {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-top: 50px;
  position: relative;
}
.feedback__item {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 20px;
}
.feedback__item_head {
  display: flex;
  justify-content: start;
  align-items: center;
}
.feedback__item_head span {
  margin-left: 10px;
}
.feedback__item_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.feedback__item_content span {
  margin-left: 15px;
}
.feedback__item_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback__link {
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.feedback__img {
  border-radius: 50%;
  max-height: 150px;
}
.feedback__item_content {
  display: flex;
}

.slick-slide {
  margin: 0 20px;
}

.slick-next, .slick-prev {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0;
  width: 35px;
  height: 35px;
}

.slick-prev {
  top: -15%;
  right: 5%;
  background: url("../img/prev.svg") 0 0 no-repeat;
}

.slick-next {
  top: -15%;
  right: 0;
  background: url("../img/next.svg") 0 0 no-repeat;
}

.slick-dots {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0px;
}

.slick-dots li {
  list-style: none;
  margin: 0 5px;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  border: 0;
  outline: none;
  background: #FFFFFF;
  border-radius: 50%;
  transition: 0.5s all;
}
.slick-dots li button:hover {
  background: rgba(255, 194, 37, 0.7);
}

.slick-dots li.slick-active button {
  background-color: rgb(255, 194, 37);
}

.contacts {
  position: relative;
}
.contacts__info {
  padding: 100px 25px;
  position: absolute;
  width: 500px;
  height: 450px;
  bottom: 0;
  left: 0;
  background-color: rgba(5, 8, 13, 0.85);
}
.contacts__info_title {
  color: #FFC225;
  font-weight: 300;
  font-size: 20px;
  margin-top: 40px;
}
.contacts__adres {
  color: #FFFFFF;
  width: 100%;
  font-weight: 200;
  font-size: 20px;
  text-decoration: none;
  line-height: 1.5;
}
.contacts__item {
  margin-top: 25px;
}

@media (max-width: 500px) {
  .main_container {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
  }
  .main {
    max-width: 100%;
  }
  .container {
    width: 100%;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header_logo {
    padding-bottom: 20px;
  }
  .header_contacts {
    display: none;
  }
  .navigation {
    position: relative;
    top: 80px;
  }
  .navigation__phone {
    padding-top: 25px;
    display: block;
    font-size: 25px;
  }
  .navigation__link_phone {
    color: #FFC225;
  }
  .contact {
    margin: 0;
    min-height: 45vh;
  }
  .contact_adres {
    bottom: 145px;
  }
  .studia__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .studia__content_img {
    width: 100%;
    transform: translateX(0px);
  }
  .studia__content_about {
    font-weight: 300;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
  }
  .master__content {
    display: flex;
    flex-direction: column-reverse;
  }
  .master__content_img {
    height: 550px;
    transform: translateX(0px);
    z-index: 3;
  }
  .master__content_about {
    font-weight: 300;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
  }
  .master__content_links {
    margin: 20px 0px;
  }
  .decor {
    height: 100px;
    background-image: url(../img/decor_img.png);
    z-index: 1;
    border-top: 2px solid #FFC225;
    border-bottom: 2px solid #FFC225;
    transform: translateY(-10px);
  }
  .portfolio__content_info {
    display: none;
  }
  .portfolio {
    margin-top: 0px;
  }
  .portfolio__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
  }
  .feedback__item_content {
    flex-direction: column;
  }
  .feedback__item_content span {
    margin: 0 auto;
  }
  .slick-next, .slick-prev {
    display: none;
  }
  .contacts {
    position: relative;
  }
  .contacts__info {
    padding: 0 10px;
    margin: 0 auto;
    position: absolute;
    max-width: 100%;
    height: 450px;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 8, 13, 0.85);
  }
  .contacts__info_title {
    color: #FFC225;
    font-weight: 300;
    font-size: 20px;
    margin-top: 40px;
  }
  .contacts__adres {
    color: #FFFFFF;
    width: 100%;
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
    line-height: 1.5;
  }
  .contacts__item {
    max-width: 100%;
  }
}/*# sourceMappingURL=main.css.map */