@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
}

:root {
  --white: #fff;
  --black: #111;
  --pink: #e701dd;
}

body {
  background-color: #06090E;
  padding: 0;
  margin: 0;
}

.main {
  background-image: url("../img/main_bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.container {
  padding: 0 10px;
  max-width: 1300px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 45px;
  line-height: 66px;
  margin-top: 50px;
}

.contacts_links svg {
  margin: 20px 20px 20px 0;
}
.contacts_links svg:first-child {
  width: 35px;
  height: 37px;
}
.contacts_links svg:first-child path {
  fill: #FFFFFF;
}
.contacts_links svg:first-child:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #FFC225;
}
.contacts_links svg:nth-child(2n) {
  width: 42px;
  height: 37px;
}
.contacts_links svg:nth-child(2n) path {
  fill: #FFFFFF;
}
.contacts_links svg:nth-child(2n):hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #FFC225;
}
.contacts_links svg:nth-child(3n) {
  width: 35px;
  height: 35px;
}
.contacts_links svg:nth-child(3n) path {
  fill: #FFFFFF;
}
.contacts_links svg:nth-child(3n):hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #FFC225;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 30px;
  text-decoration: none;
}
.header_logo span {
  color: #FFC225;
}
.header_logo__title {
  font-weight: 200;
  font-size: 15px;
  margin: 0px;
}
.header_contacts {
  transition: 0.5s all;
  position: relative;
  fill: #FFFFFF;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.header_contacts__phone {
  font-weight: 400;
  font-size: 25px;
}
.header_contacts__img {
  width: 45px;
  height: 30px;
  padding-right: 15px;
}
.header_contacts:hover {
  fill: #FFC225;
  color: #FFC225;
}
.header_contacts__list {
  position: absolute;
  top: 30px;
  left: 5px;
  list-style-type: none;
  display: none;
}
.header_contacts__list :first-child {
  margin-top: 10px;
}
.header_contacts:hover .header_contacts__list {
  display: block;
}
.header_contacts__item {
  padding-bottom: 15px;
}
.header_contacts__item a {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
.header_contacts__num {
  display: flex;
  align-items: center;
}
.header_contacts__desc {
  padding-left: 20px;
  font-weight: 200;
  font-size: 15px;
}

.main_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

.navigation {
  padding-left: 0;
  list-style-type: none;
  top: 300px;
  z-index: 2;
}
.navigation__phone {
  display: none;
}
.navigation__item {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
}
.navigation__link {
  color: #FFFFFF;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: none;
  transition: 0.5s border-bottom;
}
.navigation__link:hover {
  border-bottom: 2px solid #FFC225;
}

.social__item {
  margin: 20px 0;
}
.social__svg {
  fill: #FFFFFF;
  width: 40px;
  height: 40px;
  transition: 0.5s all;
}
.social__svg:hover {
  fill: #FFC225;
}

.contact {
  margin-top: 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact_adres {
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  bottom: 0;
  left: 0;
}
.contact_adres span {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}

.persona {
  color: #FFC225;
}

.wrapper {
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  place-items: center;
}

.main_bottom {
  position: absolute;
  width: 100%;
  height: 150px;
  padding-top: 220px;
  bottom: 0;
  background: linear-gradient(180deg, rgba(114, 136, 172, 0) 0%, rgba(6, 9, 14, 0.81) 45.96%, #06090E 71.08%, #06090E 100%);
}

:root {
  --white: #fff;
  --black: #111;
  --pink: #FFC225;
  scroll-behavior: smooth;
}

.button {
  padding: 0 20px;
  margin: 0 auto;
  place-items: center;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom_row {
  width: 70px;
  height: 24px;
  fill: white;
}

.link {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  position: relative;
}
.link span {
  padding: 5px;
}
.link span, .link i, .link svg {
  position: relative;
}
.link i {
  margin-left: 0.5em;
}
.link .pink {
  width: 2em;
  height: 2em;
  border-radius: 2em;
  background-color: var(--pink);
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: -0.5em;
}

.master_content {
  position: relative;
}
.master_photo-persona {
  position: absolute;
  top: -70px;
  left: 0;
  width: 716px;
  height: 450px;
  z-index: 2;
}
.master_photo-master {
  left: 15%;
  bottom: -70px;
  position: absolute;
  width: 455px;
  height: 571px;
  z-index: 2;
}
.master_text {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  padding: 20px 20px 20px 55%;
  margin: 100px 0px 100px 40px;
}
.master_text span {
  color: #FFC225;
}

.content .info {
  margin: 0 auto;
  min-height: 580px;
}

.content .info-header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.content .info-header-tab {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 30px;
  cursor: pointer;
}

.content .info-header-tab:after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  margin-top: 4px;
}

.content .info-header-tab:hover:after {
  width: 60%;
}

.content .info-tabcontent {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

.content .info-tabcontent .description,
.content .info-tabcontent .photo {
  width: 50%;
}

.content .info-tabcontent .description-title {
  font-size: 34px;
  color: #FFFFFF;
}

.content .info-tabcontent .description-title:after {
  content: "";
  display: block;
  width: 20%;
  height: 3px;
  background-color: #FFC225;
  margin-top: 4px;
}

.content .info-tabcontent .description-text {
  margin-top: 30px;
  color: #fff;
  font-weight: 300;
  padding-right: 20px;
}

.content .info-tabcontent .photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content .info-tabcontent .photo img {
  max-width: 350px;
}

.content .info .hide {
  display: none;
}

.content .info .show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}/*# sourceMappingURL=main.css.map */