@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&display=swap");
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #212E40;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 10px;
  max-width: 1300px;
  margin: 0 auto;
}

.main_container {
  padding: 0 10px;
  max-width: 1500px;
  margin: 0 auto;
}

.main_bg {
  background-image: url("../../img/main_bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navigation {
  padding-left: 0;
  list-style-type: none;
  position: absolute;
  top: 300px;
  z-index: 2;
}
.navigation__item {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
}
.navigation__link {
  color: #FFFFFF;
  text-decoration: none;
  padding-bottom: 5px;
}
.navigation__link:hover {
  border-bottom: 2px solid #FFC225;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 30px;
  text-decoration: none;
}
.header_logo span {
  color: #FFC225;
}
.header_logo__title {
  font-weight: 200;
  font-size: 15px;
  margin: 0px;
}
.header_contacts {
  transition: 0.5s all;
  position: relative;
  fill: #FFFFFF;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header_contacts__phone {
  font-weight: 300;
  font-size: 25px;
}
.header_contacts__img {
  width: 45px;
  height: 30px;
  padding-right: 15px;
}
.header_contacts:hover {
  fill: #FFC225;
  color: #FFC225;
}
.header_contacts__list {
  position: absolute;
  top: 30px;
  left: 5px;
  list-style-type: none;
  display: none;
}
.header_contacts__list :first-child {
  margin-top: 10px;
}
.header_contacts:hover .header_contacts__list {
  display: block;
}
.header_contacts__item {
  padding-bottom: 15px;
}
.header_contacts__item a {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
.header_contacts__num {
  display: flex;
  align-items: center;
}
.header_contacts__desc {
  padding-left: 20px;
  font-weight: 200;
  font-size: 15px;
}

.main {
  margin-top: 200px;
  min-height: 55vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s all;
  position: relative;
}
.main_adres {
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main_adres span {
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
}

.persona {
  color: #FFC225;
}

.arrow {
  background: linear-gradient(180deg, rgba(33, 46, 64, 0) 0%, rgb(33, 46, 64) 100%);
}
.burger-menu__control {
  display: none;
}

@media (max-width: 500px) {
  .main {
    margin-top: 200px;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header_logo {
    padding-bottom: 20px;
  }
  .header_contacts__img {
    display: none;
  }
  .header_contacts__desc {
    display: none;
  }
  .header_contacts__phone {
    font-size: 20px;
  }
  .navigation {
    top: 200px;
  }
  .arrow {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */